.composecourse__ideas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 56px;
  padding-top: $bigpadding;
  padding-bottom: $mainpadding;
  margin: 0;
}

@include breakpoint('composecourse__ideas', $tablet) {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  padding-top: 90px;
  padding-bottom: 0;
}
@include breakpoint('composecourse__ideas', $mobile) {
  grid-row-gap: 14px;
  padding-top: 80px;
}
