.header__camera-icon {
  display: flex;
  align-self: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  z-index: 1;
}

@include breakpoint('header__camera-icon', $tablet) {
  display: none;
}

@include breakpoint('header__camera-icon', $mobile) {
  display: flex;
}
