.odercourse__content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 312px;
  max-width: $main-blok-width;
  margin: 0 auto;
}

@include breakpoint('odercourse__content', $midledesktop) {
  grid-column-gap: 90px;
}

@include breakpoint('odercourse__content', $tablet) {
  grid-template-columns: 1fr;
  max-width: 768px;
  grid-column-gap: 0;
}
@include breakpoint('odercourse__content', $mobile) {
  max-width: 300px;
}
