.action__email {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: $maintextcolor;
  background-color: $maincolor;
  width: 348px;
  height: 50px;
  box-sizing: border-box;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-right: 0;
  outline: none;
  border-radius: 8px 0 0 8px;
}

@include breakpoint('action__email', $smalltablet) {
  width: 175px;
}

