.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: $main-blok-width;
  margin: 0 auto;


}

@include breakpoint('header__content', $tablet) {
  max-width: 688px;
  margin: 0;
}
