.composecourse__img {
  box-sizing: border-box;
  max-height: 685px;
  max-width: 642px;
  justify-self: end;
  object-fit: cover;
}

@include breakpoint('composecourse__img', $midledesktop) {
  width: 542px;
  height: 585px;
}
@include breakpoint('composecourse__img', $tablet) {
  justify-self: start;
  grid-row:3;
  height: 688px;
  width: 685px;

}
@include breakpoint('composecourse__img', $smalltablet) {
  width: 494px;
  height: 547px;

}
@include breakpoint('composecourse__img', $mobile) {
  width: 280px;
  height: 278px;
}

