.cameracourse__content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 86px;
  padding-top: $mainpadding;
  padding-bottom: $mainpadding;
  color: $secondtextcolor;
  max-width: $main-blok-width;
  margin: 0 auto;
  box-sizing: border-box;
}

@include breakpoint('cameracourse__content', $tablet) {
  grid-template-columns: 1fr;
  max-width: 768px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@include breakpoint('cameracourse__content', $mobile) {
  max-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

