.photocourse__title {
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  max-width: 624px;
  grid-column: 1;
}

@include breakpoint('photocourse__title', $midledesktop) {
  font-size: 80px;
  line-height: 80px;
}

@include breakpoint('photocourse__title', $smalltablet) {

}

@include breakpoint('photocourse__title', $mobile) {
  max-width: 282px;
  font-size: 47px;
  line-height: 56px;
  grid-row: 1;
}
