.header {
  justify-self: center;
  background: $headercolor;
  padding: 0 $mainpadding 0 $mainpadding;
}

@include breakpoint('header', $tablet) {
  padding: 0 40px 0 40px;
}

@include breakpoint('header', $mobile) {
  padding: 0 $mobilepadding 0 $mobilepadding;
}
