.photocourse__img {
  box-sizing: border-box;
  max-width: 642px;
  max-height: 555px;
  justify-self: end;
  margin: 0;
}

@include breakpoint('photocourse__img', $midledesktop) {
  max-width: 542px;
  max-height: 455px;
}

@include breakpoint('photocourse__img', $tablet) {
  grid-row: 2;
  justify-self: start;
  width: 688px;
  height: 594px;
}

@include breakpoint('photocourse__img', $smalltablet) {
  max-width: 542px;
  max-height: 455px;
}

@include breakpoint('photocourse__img', $mobile) {
  justify-self: center;
  width: 280px;
  height: 242px;
}
