.cameracourse__img {
  grid-row:1/3;
  max-width: 642px;
}

@include breakpoint('cameracourse__img', $midledesktop) {
  width: 70%;
}

@include breakpoint('cameracourse__img', $tablet) {
  width: 656px;
  max-height: 688px;
  grid-row:4;
  padding-bottom: 60px;
  object-fit: cover;
}

@include breakpoint('cameracourse__img', $smalltablet) {
  max-width: 400px;
}

@include breakpoint('cameracourse__img', $mobile) {
  width: 50vw;
  height: 50vw;
  max-height: 258px;
}
