.composecourse__main-structure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 86px;
  justify-self: start;
}

@include breakpoint('composecourse__main-structure', $tablet) {
  grid-template-columns: 1fr;
}

