.header__close {
  background-color: transparent;
  border: 0;
  outline: 0;
  background-image: url("../../../../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 40px;
  margin: 0;
}

@include breakpoint('header__close', $mobile) {
  padding: 30px;
  background-color: $headercolor;
  position: absolute;
  top: -60px;
  right: 0;
}

