$mobile: 600px;
$smalltablet: 700px;
$tablet: 1060px;
$midledesktop: 1300px;
$desktop: 1439px;

$main-blok-width: 1440px;

$headercolor: #DF2626;
$maincolor: #FFFFFF;
$composecolor: #FFCE00;
$cameracolor: #000000;
$actioncolor: #DF2626;
$menutextcolor: #FBFBFB;
$maintextcolor: #000000;
$secondtextcolor: #FFFFFF;

$mainpadding: 50px;
$bigpadding: 100px;
$tabletpadding: 40px;
$mobilepadding: 20px;

$menupadding: 30px;
$menumargin: 40px;

$menufonts: 'Inter', 'Arial', sans-serif;
$mainfonts: 'Roboto', 'Arial', sans-serif;
