.action__content {
  display: flex;
  flex-direction: row;
  max-width: $main-blok-width;
  margin: 0 auto;
}

@include breakpoint('action__content', $tablet) {
  max-width: 768px;
}
@include breakpoint('action__content', $mobile) {
  padding-top: 40px;
  max-width: 300px;

}
