@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
@import "./modules/variables.scss";
@import "./modules/mixins.scss";
@import "./modules/blocks/page/page.scss";
@import "./modules/blocks/action-button/action-button.scss";
@import "./modules/blocks/header/header.scss";
@import "./modules/blocks/header/__icon-menu/_latent/header__icon-menu_latent.scss";
@import "./modules/blocks/header/__content/header__content.scss";
@import "./modules/blocks/header/__camera-icon/header__camera-icon";
@import "./modules/blocks/header/__links/header__links.scss";
@import "./modules/blocks/header/__links-item/header__links-item.scss";
@import "./modules/blocks/header/__links-decoration/header__links-decoration.scss";
@import "./modules/blocks/header/__menu/header__menu.scss";
@import "./modules/blocks/header/__icon-menu/header__icon-menu.scss";
@import "./modules/blocks/photocourse/photocourse.scss";
@import "./modules/blocks/photocourse/__content/photocourse__content.scss";
@import "./modules/blocks/photocourse/__title/photocourse__title.scss";
@import "./modules/blocks/photocourse/__description/photocourse__description.scss";
@import "./modules/blocks/photocourse/__button/photocourse__button.scss";
@import "./modules/blocks/img/img.scss";
@import "./modules/blocks/photocourse/__info/photocourse__info.scss";
@import "./modules/blocks/composecourse/__button/composecourse__button.scss";
@import "./modules/blocks/composecourse/__goal/composecourse__goal.scss";
@import "./modules/blocks/composecourse/composecourse.scss";
@import "./modules/blocks/composecourse/__content/composecourse__content.scss";
@import "./modules/blocks/composecourse/__description/composecourse__description.scss";
@import "./modules/blocks/composecourse/__img/composecourse__img.scss";
@import "./modules/blocks/photocourse/__img/photocourse__img.scss";
@import './modules/blocks/course-type/course-type.scss';
@import "./modules/blocks/composecourse/__title/composecourse__title.scss";
@import "./modules/blocks/composecourse/__info/composecourse__info.scss";
@import "./modules/blocks/composecourse/__intro/composecourse__intro.scss";
@import "./modules/blocks/composecourse/__main-structure/composecourse__main-structure.scss";
@import "./modules/blocks/composecourse/__ideas/composecourse__ideas.scss";
@import "./modules/blocks/cameracourse/cameracourse.scss";
@import "./modules/blocks/cameracourse/__content/cameracourse__content.scss";
@import "./modules/blocks/cameracourse/__img/cameracourse__img.scss";
@import "./modules/blocks/cameracourse/__info/cameracourse__info.scss";
@import "./modules/blocks/cameracourse/__title/cameracourse__title.scss";
@import "./modules/blocks/cameracourse/__recall-anons/cameracourse__recall-anons.scss";
@import "./modules/blocks/cameracourse/__text/cameracourse__text.scss";
@import "./modules/blocks/cameracourse/__recall/cameracourse__recall.scss";
@import "./modules/blocks/cameracourse/__recall-info-left/cameracourse__recall-info-left.scss";
@import "./modules/blocks/cameracourse/__recall-info-right/cameracourse__recall-info-right.scss";
@import "./modules/blocks/cameracourse/__recall-author/cameracourse__recall-author.scss";
@import "./modules/blocks/cameracourse/__recall-network/cameracourse__recall-network.scss";
@import "./modules/blocks/odercourse/odercourse.scss";
@import "./modules/blocks/odercourse/__line/odercourse__line.scss";
@import "./modules/blocks/odercourse/__content/odercourse__content.scss";
@import "./modules/blocks/odercourse/__title/odercourse__title.scss";
@import "./modules/blocks/odercourse/__img/odercourse__img.scss";
@import "./modules/blocks/odercourse/__info/odercourse__info.scss";
@import "./modules/blocks/odercourse/__text/odercourse__text.scss";
@import "./modules/blocks/action/action.scss";
@import "./modules/blocks/action/__content/action__content.scss";
@import "./modules/blocks/action/__img/action__img.scss";
@import "./modules/blocks/action/__title/action__title.scss";
@import "./modules/blocks/action/__submitform/action__submitform.scss";
@import "./modules/blocks/action/__email/action__email.scss";
@import "./modules/blocks/action/__submit-button/action__submit-button.scss";
@import "./modules/blocks/footer/footer.scss";
@import "./modules/blocks/footer/__copyright/footer__copyright.scss";
@import "./modules/blocks/header/__mobile/header__mobile.scss";
@import "./modules/blocks/header/__mobile/_active/header__mobile_active.scss";
@import "./modules/blocks/header/__layout/header__layout.scss";
@import "./modules/blocks/header/__close/header__close.scss";

