.img {
  max-width: 642px;
  grid-column: 2;
  grid-row: 1/7;
}

@include breakpoint('img', $tablet) {
  grid-column: 1;
  margin-top: 60px;
}

@include breakpoint('img', $mobile) {
  max-width: 280px;

}
